/* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
}

.container {
    /* è la versione mobile e lasciamo il container al 100% */
    width: 100%;
    margin: 0 auto;
} 

.row {
    display: flex;
    flex-wrap: wrap;
}


/* position configuration */
.pos-rel{
    position: relative;
}

.pos-fix{
    position: fixed;
}

.pos-frt{
    position: fixed;
    right: 0;
    top: 0;
}


/* z-index configuration*/
.zi-100{
    z-index: 100;
}

.zi-200{
    z-index: 200;
}

.zi-300{
    z-index: 300;
}

.zi-400{
    z-index: 400;
}

.zi-500{
    z-index: 500;
}

/* margin + padding */
.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

[class*="col-"] {
    flex: 0 0 auto;
} 

.p-15{
    padding: 15px;
}

/* OVERFLOW */
.overflow-auto{
    overflow: auto;
}

.overflow-hidden{
    overflow: hidden;
}

/* VISUALIZZAZIONE MOBILE < 576px */
.col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-xs-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}
.col-xs-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.col-xs-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}
.col-xs-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}
.col-xs-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}
.col-xs-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}
.col-xs-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}
.col-xs-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
.col-xs-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}
.col-xs-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}
.col-xs-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}
.col-xs-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.col-xs-offset-1 {
    margin-left: calc((100% / 12) * 1);
}
.col-xs-offset-2 {
    margin-left: calc((100% / 12) * 2);
}
.col-xs-offset-3 {
    margin-left: calc((100% / 12) * 3);
}
.col-xs-offset-4 {
    margin-left: calc((100% / 12) * 4);
}
.col-xs-offset-5 {
    margin-left: calc((100% / 12) * 5);
}
.col-xs-offset-6 {
    margin-left: calc((100% / 12) * 6);
}
.col-xs-offset-7 {
    margin-left: calc((100% / 12) * 7);
}
.col-xs-offset-8 {
    margin-left: calc((100% / 12) * 8);
}
.col-xs-offset-9 {
    margin-left: calc((100% / 12) * 9);
}
.col-xs-offset-10 {
    margin-left: calc((100% / 12) * 10);
}
.col-xs-offset-11 {
    margin-left: calc((100% / 12) * 11);
}

.start-xs {
    justify-content: flex-start;
}

.center-xs{
    justify-content: center;
}

.end-xs {
    justify-content: flex-end;
}

.around-xs {
    justify-content: space-around;
}
.between-xs {
    justify-content: space-between;
}

.top-ai-xs{
    align-items: flex-start;
}

.middle-ai-xs{
    align-items: center;
}

.bottom-ai-xs {
    align-items: flex-end;
}

.top-ac-xs{
    align-content: flex-start;
}

.middle-ac-xs{
    align-content: center;
}

.bottom-ac-xs{
    align-content: flex-end;
}


/* VISUALIZZAZIONE TABLET > 576px */
@media screen and (min-width:576px) {
    .col-sm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-sm-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .col-sm-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .col-sm-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .col-sm-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .col-sm-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .col-sm-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .col-sm-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .col-sm-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .col-sm-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .col-sm-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .col-sm-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .col-sm-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    .col-sm-offset-1 {
        margin-left: calc((100% / 12) * 1);
    }
    .col-sm-offset-2 {
        margin-left: calc((100% / 12) * 2);
    }
    .col-sm-offset-3 {
        margin-left: calc((100% / 12) * 3);
    }
    .col-sm-offset-4 {
        margin-left: calc((100% / 12) * 4);
    }
    .col-sm-offset-5 {
        margin-left: calc((100% / 12) * 5);
    }
    .col-sm-offset-6 {
        margin-left: calc((100% / 12) * 6);
    }
    .col-sm-offset-7 {
        margin-left: calc((100% / 12) * 7);
    }
    .col-sm-offset-8 {
        margin-left: calc((100% / 12) * 8);
    }
    .col-sm-offset-9 {
        margin-left: calc((100% / 12) * 9);
    }
    .col-sm-offset-10 {
        margin-left: calc((100% / 12) * 10);
    }
    .col-sm-offset-11 {
        margin-left: calc((100% / 12) * 11);
    }

    .start-sm {
        justify-content: flex-start;
    }

    .center-sm{
        justify-content: center;
    }

    .end-sm {
        justify-content: flex-end;
    }

    .around-sm {
        justify-content: space-around;
    }
    .between-sm {
        justify-content: space-between;
    }

    .top-sm{
        align-items: flex-start;
    }

    .middle-sm{
        align-items: center;
    }

    .bottom-sm {
        align-items: flex-end;
    }
}

/* VISUALIZZAZIONE DESKTOP > 992px */
@media screen and (min-width:992px) {
    .col-lg {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-lg-1 {
        flex-basis: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    .col-lg-2 {
        flex-basis: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    .col-lg-3 {
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .col-lg-4 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .col-lg-5 {
        flex-basis: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    .col-lg-6 {
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .col-lg-7 {
        flex-basis: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    .col-lg-8 {
        flex-basis: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    .col-lg-9 {
        flex-basis: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    .col-lg-10 {
        flex-basis: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    .col-lg-11 {
        flex-basis: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    .col-lg-12 {
        flex-basis: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }

    .col-lg-offset-1 {
        margin-left: calc((100% / 12) * 1);
    }
    .col-lg-offset-2 {
        margin-left: calc((100% / 12) * 2);
    }
    .col-lg-offset-3 {
        margin-left: calc((100% / 12) * 3);
    }
    .col-lg-offset-4 {
        margin-left: calc((100% / 12) * 4);
    }
    .col-lg-offset-5 {
        margin-left: calc((100% / 12) * 5);
    }
    .col-lg-offset-6 {
        margin-left: calc((100% / 12) * 6);
    }
    .col-lg-offset-7 {
        margin-left: calc((100% / 12) * 7);
    }
    .col-lg-offset-8 {
        margin-left: calc((100% / 12) * 8);
    }
    .col-lg-offset-9 {
        margin-left: calc((100% / 12) * 9);
    }
    .col-lg-offset-10 {
        margin-left: calc((100% / 12) * 10);
    }
    .col-lg-offset-11 {
        margin-left: calc((100% / 12) * 11);
    }

    .start-lg {
        justify-content: flex-start;
    }

    .center-lg{
        justify-content: center;
    }

    .end-lg {
        justify-content: flex-end;
    }

    .around-lg {
        justify-content: space-around;
    }
    .between-lg {
        justify-content: space-between;
    }

    .top-lg{
        align-items: flex-start;
    }

    .middle-lg{
        align-items: center;
    }

    .bottom-lg {
        align-items: flex-end;
    }
}