.vertical-menu{
    height: calc(100vh - 100px);
    background-color: black;
}

.action-required{
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery{
    height: calc(100vh - 100px);
    background-color: #141922;
}

.action-required,
footer{
    height: 100px;
    width: 100%;
}

footer{
    background-color: #282828;
}






/* REGOLE PER IL DEBUG INIZIALE - DA CANCELLARE */
/* .debug .vertical-menu{
    background-color: red;
    border: 1px solid black;
} */

/* .debug .action-required{
    background-color: yellow;
} */

/* .debug .gallery{
    background-color: blue;
    border: 1px solid black;
} */

/* .debug footer{
    background-color: grey;
} */

.debug .logo,
.debug .menu-action,
.debug .playlist,
.debug .bottom{
    height: 100px;
    width: 100%;
    background-color: red;
    border: 3px solid yellow;
}