/* COMMONS */
ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #7f7f7f;
}

ul li a:hover{
    color: white;
}

i:hover,
.range-bar:hover{
    cursor: pointer;
}

h6{
    font-size: 15px;
}


/* white text */
h1, h2, h3, h4, h5, h6,
.wh-txt,
footer .center i,
footer .right i{
    color: white;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #7f7f7f;
}

span{
    color: #7f7f7f;
}

/*--- VERTICAL MENU - LEFT SIDE ---*/
.side-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vertical-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    background-color: black;
    width: 50px;
    font-size: 15px;
}

.side-container.top {
    flex-shrink: 1;
    min-height: 450px;
    align-content: flex-start;
}

.side-container.bottom{
    flex-shrink: 1;
    height: 100px;
}

.vertical-menu .side-container > *{
    /* width: 100%; */
    padding: 0 10px;
}

/* LOGO */
#logo{
    padding: 10px 10px 5px;
}

#logo img.big{
    display: none;
}

#logo img.small{
    display: inline-block;
    width: 30px;
}

/* MENU ACTION */
.vertical-menu .side-container .menu-action{
    padding: 0;
}

.menu-action ul li{
    padding: 0 10px;
}

.menu-action ul li a img{
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 10px 0;
    filter: brightness(50%);
}

.menu-action ul li a span{
    display: none;
}

.menu-action ul li.active a > *,
.menu-action ul li:not(.active):hover a > *
{
    filter: brightness(100%);
    color: white;
}

/* inizio trattino per classe attiva nel menu */
.vertical-menu .menu-action ul li.active{
    position: relative;
}

.vertical-menu .menu-action ul li.active::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    content: '';
    background-color: #adff2f;
}
/* fine trattino per classe attiva nel menu */


/* PLAYLIST */
#add-playlist div{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 40px;
    text-align: center;
    background-color: #7f7f7f;
    color: black;
}

#add-playlist:hover div{
    background-color: white;
}

#add-playlist:hover span{
    color: white;
}

#download-btn:hover > *{
    cursor: pointer;
    color: white;
}

#list-playlist{
    /* max-height: 200px; */
    min-height: 120px;
    overflow-y: auto;
}

.playlist,
#list-playlist{
    display: none;
}

/* BOTTOM LEFT */
.side-container.bottom div img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
}

.side-container.bottom span,
.side-container.bottom hr{
    display: none;
}

.side-container.bottom{
    justify-content: flex-end;
    align-items: center;
}

#download-btn{
    margin-bottom: 5px;
}


/*--- MAIN PART - RIGHT SIDE ---*/
.gallery-container{
    height: calc(100vh - 100px);
}

.gallery section{
    margin: 20px 0;
}

.gallery section ul li a{
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 15px;
}

/* ACTION REQUIRED */
.action-required{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    width: calc(100% - 50px);
}

.action-required .btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    text-transform: uppercase;
}

.action-required .btn:hover{
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* GALLERY */
.gallery{
    height: 100%;
    background-color: #141922;
    padding: 100px 20px 0;
    color: white;
}

/* inizio trattino per classe attiva nel menu */
.gallery-container .gallery ul li.active{
    position: relative;
    padding-bottom: 5px;
}

.gallery-container .gallery ul li.active::before{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 20%;
    content: '';
    background-color: #adff2f;
    padding-top: 2px;
}
/* fine trattino per classe attiva nel menu */

.gallery .box{
    max-width: 200px;
    text-align: center;
    margin-right: 10px;
}

.gallery .box img{
    width: 100%;
    display: block;
}

.gallery .box img.round{
    border-radius: 50%;
}


.layover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 70px;
}

.img-container:hover .layover{
    display: flex;
    cursor: pointer;
}


/* FOOTER */
footer{
    position: relative;
    z-index: 999;
    height: 100px;
    width: 100%;
    background-color: #282828;
}

footer .left,
footer .right{
    padding: 0 10px;
}

footer .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#now-play{
    width: 30px;
    margin-right: 10px;
}

footer .box div,
footer .box span,
footer .box i{
    font-size: 10px;
}

footer .left i{
    margin: 10px 10px 0 0;
    color: #7f7f7f;
}

footer .left i:hover{
    color: white;
}

footer .left .box.favourite{
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}

footer .center .box{
    width: 100%;
    justify-content: center;
}

.commands > i{
    margin: 15px 5px 0;
    font-size: 10px;
}

#play-btn{
    font-size: 20px;
}

#play-btn:hover{
    font-size: 25px;
    margin: 10px 3px 0;
}

.range-bar{
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background-color: #5a5a5a;
    margin: 0 10px;
}

.active-range{
    position: relative;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    background-color: #c1c1c1;
}

.active-range::after{
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c1c1c1;
}

.range-bar:hover .active-range{
    background-color: #adff2f;
}

.range-bar:hover .active-range::after{
    display: block;
}



@media screen and (min-width:576px) {

    /*--- VERTICAL MENU - LEFT SIDE ---*/
    .vertical-menu{
        min-width: 250px;
    }

    .vertical-menu .side-container > *{
        width: 100%;
    }

    /* LOGO */
    #logo{
        padding: 25px 10px;
    }

    #logo img.big{
        display: inline-block;
        width: 65%;
    }

    #logo img.small{
        display: none;
    }
    
    /* MENU ACTION */
    .menu-action ul li a span{
        display: inline;
    }

    /* PLAYLIST */
    .playlist,
    #list-playlist{
        display: block;
    }

    /* BOTTOM LEFT */
    .side-container.bottom div img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: grey;
        vertical-align: middle;
    }

    .side-container.bottom span{
        display: inline-block;
    }
    .side-container.bottom hr{
        display: block;
    }

    #download-btn{
        margin-bottom: 0;
    }

    /*--- MAIN PART - RIGHT SIDE ---*/
    /* ACTION REQUIRED */
    .action-required{
        width: calc(100% - 250px);
    }

}

@media screen and (min-width:760px) {
    /* FOOTER */
    footer .left,
    footer .right{
        min-width: 250px;
        padding: 0 10px;
    }

    #now-play{
        width: 50px;
    }

    footer .box div,
    footer .box i{
        font-size: 15px;
    }

    footer .box span{
        font-size: 10px;
    }

    footer .left i{
        margin: 0 10px 0 0;
    }

    footer .box.commands > i{
        margin: 15px 10px 0;
        font-size: 20px;
    }

    #play-btn{
        font-size: 40px;
    }

    #play-btn:hover{
        font-size: 45px;
        margin: 10px 8px 0;
    }

    footer .right i:nth-child(2){
        margin: 0 5px;
    }

    .range-bar{
        width: 70%;
    }

    .active-range::after{
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-height:350px) {
    .gallery-container .action-required{
        display: block;
    }
}