/* COMMONS */
ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

h6{
    font-size: 15px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

/*--- VERTICAL MENU - LEFT SIDE ---*/
.side-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.vertical-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    background-color: black;
    min-width: 250px;
    font-size: 15px;
}

.side-container.top {
    flex-shrink: 1;
    min-height: 450px;
    align-content: flex-start;
}

.side-container.bottom{
    flex-shrink: 1;
    height: 100px;
}

.vertical-menu .side-container > *{
    width: 100%;
}

/* LOGO */
#logo{
    padding: 25px 0;
}

#logo img{
    width: 65%;
}

/* MENU ACTION */
.menu-action ul li a img{
    height: 30px;
    vertical-align: middle;
    margin: 0 5px 10px 0;
}

/* PLAYLIST */
#add-playlist i{
    font-size: 50px;
    vertical-align: middle;
    margin-right: 5px;
}

#list-playlist{
    /* max-height: 200px; */
    min-height: 120px;
    overflow-y: auto;
}

/* BOTTOM LEFT */
.side-container.bottom div img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
    vertical-align: middle;
}


/*--- MAIN PART - RIGHT SIDE ---*/
.gallery-container{
    height: calc(100vh - 100px);
}


.gallery section{
    margin: 20px 0;
}

.gallery section ul li a{
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 15px;
}

/* ACTION REQUIRED */
.action-required{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    width: calc(100% - 250px);
}

.action-required .btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 50px;
    text-transform: uppercase;
}

/* GALLERY */
.gallery{
    height: 100%;
    background-color: #141922;
    padding: 100px 20px 0;
    color: white;
}

.gallery .box{
    max-width: 200px;
    text-align: center;
    margin-right: 10px;
}

.gallery .box img{
    width: 100%;
    margin-bottom: 20px;
}

.gallery .box img.round{
    border-radius: 50%;
}

/* FOOTER */
footer{
    position: relative;
    z-index: 999;
    height: 100px;
    width: 100%;
    background-color: #282828;
}

footer .col-xs-2{
    min-width: 250px;
    padding: 0 10px;
}

footer .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#now-play{
    width: 50px;
    margin-right: 10px;
}






/* REGOLE PER IL DEBUG INIZIALE - DA CANCELLARE */
/* .debug .vertical-menu{
    background-color: red;
    border: 1px solid black;
} */

/* .debug .action-required{
    background-color: yellow;
} */

/* .debug .gallery{
    background-color: blue;
    border: 1px solid black;
} */

/* .debug footer{
    background-color: grey;
} */

/* .debug .logo, */
/* .debug .menu-action, */
/* .debug .playlist, */
/* .debug .bottom{
    height: 100px;
    background-color: red;
    border: 3px solid yellow;
} */

/* .debug .box{
    height: 100px;
    width: 100%;
    background-color: red;
    border: 3px solid yellow;
} */